{{>nav}}

<div class="home">
    <div class="home-background">
    </div>
    <div class="home-content">
        <div class="p1">Hi</div>
        <div class="p2">My Name is Adam Bougaev</div>
        <div class="p3">I'm a Full-Stack Web Developer</div>
        <div class="p4">This is my Website</div>
    </div>
</div>